.cabecalho{
    background-color: #383D58;
    color: white;
}

.cabecalho-imagem{
    width: 50%;

}
.cabecalho{
    display: flex;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 26px;
}
.escola{
    display:flex;
    color:white;
    background-image: radial-gradient(circle at 50% 50%, #b9bcff 0, #8e9cff 25%, #657be3 50%, #405bae 75%, #1d3e7e 100%);
}
.escola-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.escola-imagem{
    width: 35%;
}
body{
    font-family: 'poppins', sans-serif;
}
.estudante-imagem{
    width: 120px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;

}