.cabecalho{
    background-color: #383D58;
    color: white;
}

.cabecalho-imagem{
    width: 50%;

}
.cabecalho{
    display: flex;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 26px;
}
